/*
Q_Search CSS
Since:       0.1
*/

#q-search {
    /* margin: 0 auto; */
    /* text-align: center; */
    /* position: relative; */
}

#q-search-content {
}

.q-search-cover {
}

#q-search-button {
}

#q-search > li {
    list-style: none;
}

#q-search li.ajaxFilterItem.filter-selected a{
    color: #FF0000;
}

#q-search div#progbar-container{
    height: 50px;
    background-color: #EEE;
}

#q-search div#progbar{
    height: 100%;
    width: 0%;
    background-color: #BBB;
}

#q-search #ajax-filtered-section .image img {
    width: 268px;
    height: 201px;
}

#q-search #ajax-filtered-section .pagination {
    clear: both;
    text-align: center;
    padding: 10px 15px 50px;
}

body.handheld #q-search #ajax-filtered-section .pagination {
    padding: 10px 0px 50px;
}

#q-search #ajax-filtered-section .pagination .pagination-inner {
    display: inline-block;
}

#q-search #ajax-filtered-section .pagination .pagination-inner div {
    float: left;
}

#q-search #ajax-filtered-section .pagination span.current,
#q-search #ajax-filtered-section .pagination a {
    display: block;
    float: left;
    width: 36px;
    height: 36px;
    box-sizing: border-box;
    border: solid 1px #d2dae2;
    border-left: 0;
    font-size: 16px;
    line-height: 34px;
    font-weight: 600;
    color: #68a927;
    text-decoration: none;
    background: #fff;
}

#q-search #ajax-filtered-section .pagination .pagination-inner div:first-child a:first-child {
    border-left: solid 1px #d2dae2;
}

#q-search #ajax-filtered-section .pagination a.current {
    color: #67747c;
    text-decoration: none !important;
    cursor: default;
}

#q-search #ajax-filtered-section .pagination a:hover {
    text-decoration: underline;
}

#q-search #ajax-filtered-section .pagination a.paginationNav {
    width: auto;
    padding: 0 12px;
}


/* search page */

#q-search h1 {
    padding-left: 0;
}

#q-search h1 span.bold {
    font-weight: bold;
}

#q-search .search-bar {
    float: left;
    width: 100%;
    clear: both;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    padding: 30px 0  10px;
    margin-bottom: 30px;
}

#q-search .search-bar form div {
    float: left;
}

#q-search .search-bar form div h3 {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 90%;
    padding-left: 11px;
    text-align: left;
}

#q-search .selector {
   height: 50px;
   overflow: hidden;
   background: url('images/icon-arrow.png') no-repeat right 20px center #fff;
   border: 1px solid #d2dae2;
   border-radius: 4px;
}

#q-search .selector.general,
#q-search .input.general {
    width: 100%;
}

#q-search .selector select {
    background: transparent;
    padding: 0 20px;
    border: 0;
    border-radius: 4px;
    height: 48px;
    cursor: pointer;
    font-size: 16px;
    font-weight: normal;
    line-height: 48px;
    color: #67747c;
    outline: 0;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#q-search .input {
    /* margin-top: 0; */
}

#q-search .input input {
    padding: 11px 9px 10px;
    width: 100%;
}

#q-search .input input:focus {
    color: #000000;
}

#q-search .selector select option {
    padding: 10px 0;
}

#q-search .selector.disabled {
    background: url('images/selector_disabled_big.png') no-repeat right #fbfbfb;
}

#q-search .selector select[disabled] {
    color: #f2f2f2;
    cursor: url('images/cursor_disabled.png'),auto;
}

#q-search input[type="submit"],
#q-search input[type="reset"] {
  /* display: none; */
  margin-top: 10px;
  font-size: 110%;
  padding: 9px 15px;
  width: 200px;
}

#q-search input[type="submit"]:hover,
#q-search input[type="reset"]:hover {
    text-decoration: underline;
}

#q-search .buttons input[type="reset"] {
    color: #6d6e70;
    height: 16px;
    line-height: 16px;
    border: 0;
    padding: 0 0 0 20px;
    margin: 10px;
    background: no-repeat left center url('images/icon-reset.svg');
    font-size: 14px;
    width: 110px;
}

#q-search input[type="submit"][disabled] {
    cursor: url('images/cursor_disabled.png'),auto;
    background: #e4e8ea;
    color: #c9c9c9;
}

#q-search #ajax-content {
    /* position: relative; */
    /* clear: both; */
    /* margin-top: 0; */
    padding: 0;
    width: 100%;
    background: #f9fafb;
    /* box-shadow: inset 0 5px 15px 0 rgba(0, 0, 0, 0.07); */
}

#q-search ul {
    list-style-type: none;
    margin: 0;
}

#q-search ul.ajax-filters {
}

#q-search ul.ajax-filters.vertical {

}

#q-search ul.ajax-filters.horizontal {
}

 #q-search ul.ajax-filters.horizontal li{
}

#q-search ul.ajax-filters.horizontal li.buttons,
#q-search ul.ajax-filters.horizontal li.buttons ul,
#q-search ul.ajax-filters.horizontal li.buttons ul li {
    text-align: right;
}

#q-search ul.ajax-filters.horizontal li.text {
    margin-top: 20px;
    margin: 1%;
    width: 38%;
    margin-bottom: 10px;
}

#q-search ul.ajax-filters.horizontal li ul {
}

#q-search ul.ajax-filters.horizontal li ul > label {
    display: none;
}

#q-search ul.ajax-filters.horizontal li ul li {
    min-width: 150px;
}

#q-search ul.ajax-filters.horizontal li.submit {
    margin-top: 0px;
    margin-right: 10px;
    clear: left;
}

#q-search ul.ajax-filters.horizontal li.reset {
    margin: 0;
    padding: 0 30px;
    margin: 0 auto;
    max-width: 1170px;
}

#q-search #ajax-content.horizontal {
    width: 100%;
}

#q-search .ajax-filters h3 {
    background: #ededed;
    color: #666666;
    font-size: 90%;
    padding: 10px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    line-height: 1.5em;
    margin: 0;
}

#q-search ul.ajax-filters li {
    padding: 0;
    margin: 0;
    float: left;
}

#q-search ul.ajax-filters li.ajax-filters-li {
    margin-top: 20px;
    margin: 1%;
    width: 38%;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#q-search ul.ajax-filters li.ajax-filters-li:nth-child(even) {
    
}

#q-search .ajax-filters-li-ul {
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    float: right;
}

#q-search ul.ajax-filters li.ajax-filters-li:nth-child(even) .ajax-filters-li-ul {
    float: left;
}

#q-search ul.ajax-filters li.buttons {
    float: left;
    width: 20%
}

#q-search ul.ajax-filters li.buttons ul {
    text-align: right;
}

#q-search ul.ajax-filters li.ajax-filter-li-who .ajax-filters-li-ul {
    margin: 0 auto;
    width: 1170px;
    float: none !important;
}

#q-search ul.ajax-filters li.ajax-filters-li-ul-li {
    width: 100%;
    background: url("images/li_bullet.png") no-repeat 2px 14px transparent;
}

#q-search ul.ajax-filters li.ajax-filters-li-ul-li a {
    width: 91%;
    float: left;
    font-size: 90%;
    padding: 4px 0 0px 8%;
}

#q-search li.ajaxFilterItem.filter-selected a {
    color: #96bd1b;
    background: url("images/icon_remove_12_50.png") no-repeat right 12px transparent;
}

#q-search li.ajaxFilterItem.filter-selected a:hover {
    background-image: url("images/icon_remove_12.gif") no-repeat right 12px transparent;
}

#q-search .ajax-filters h4 {
    color: #666666;
    font-size: 90%;
    padding: 8px 10px 6px 10px;
    font-weight: normal;
    border-bottom: 1px solid #dddddd;
    text-transform: uppercase;
    margin: 0px 0 5px 0;
}

#q-search #ajax-loader {
    position: absolute;
    top: 10px;
    z-index: 2;
    width: 96%;
    margin: 0 2%;
}

#q-search #ajax-filtered-section {
    text-align: left;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    float: none;
}

#ajax-loader {
    position: absolute;
    top: 20px;
    z-index: 2;
    width: 96%;
    margin: 0;
}

#q-search #ajax-filtered-section .ajax-loaded .image {
    float: left;
    width: 170px;
    margin-right: 30px;
}

#q-search #ajax-filtered-section .ajax-loaded .image img {
    width: 170px;
    height: 152px;
}

#q-search #ajax-filtered-section .ajax-loaded .text {
    float: left;
    width: 75%;
}

#q-search #ajax-filtered-section .ajax-loaded .text h2 {
    margin: 2px 0 0;
    padding: 6px 0 5px;
    width: 80%;
    line-height: 130%;
}

#q-search #ajax-filtered-section .ajax-loaded .text h2 a {
    color: #3f3f3e;
    font-weight: 600;
    font-size: 95%;
}


#q-search #ajax-filtered-section .ajax-loaded .text p {
    font-size: 100%;
    color: #404040;
    margin: 15px 0 0;
}

/* new start */
.no-results i {
  color: #68a927;
  display: inline-block;
  font-size: 48px;
}

.q-search-pagination {
  text-align: center;
}

.q-search-pagination .page-numbers {
  border: 1px solid #e9eaea;
  color: #363637;
  line-height: initial;
  padding: 8px 10px;
}

.q-search-pagination .page-numbers.current {
  background-color: #e9eaea;
}
/* new end */

#q-search #ajax-filtered-section p.no-results {
    margin: 40px 0;
    text-align: center;
    font-size: 40px;
    color: #383636;
    line-height: 100%;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}


/* search buttons */
.qs-go {
    /* display: none; */
}

#q-search ul.ajax-filters li.ajax-filter-li-property_type {
    clear: both;
    width: 100%;
    margin-bottom: 10px;
}

li.ajax-filter-li-property_type ul li {
    width: 100%;
}

div.ajax-button {
    float: left;
    border: 1px solid #d2dae2;
    border-bottom: 0;
    cursor: pointer;
    width: 570px;
    margin-left: 30px;
    font-size: 18px;
    line-height: 54px;
    height: 56px;
    font-weight: normal;
    color: #2b3642;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    box-sizing: border-box;
}

div.ajax-button:hover {
    background: #f2f4f7;
}

div.ajax-button:first-child {
    margin-left: 0;
}

div.ajax-button.on {
    font-weight: bold;
    color: #68a927;
}

@media (min-width: 768px) {
    /*#q-search-form .col-4 {*/
        /*display: inline-block;*/
        /*width: 25%;*/
    /*}*/

    #q-search .input {
        /* text-align: center; */
    }
}

@media (max-width: 767px) {
    .q-search-pagination a, .q-search-pagination .page-numbers {
        /*font-size: 14px;*/
    }
}
